.pretable {
    width: 100%;

    table {
        width: 100%;

        label {
            width: 100%;
        }

        input {
            width: 100%;
        }

        select {
            width: 100%;
        }

        td {
            div {
                width: 100%;
            }
        }
    }

    textarea {
        width: 100%;
    }

    .innertab {
        margin-top: 12px;
    }

    .footer {
        padding: 15px 0px 0px;
        button + button {
            margin-left: 10px;
        }
    }
}

.tabContainer {
    border: 1px solid lightgray;
    background: white;
    padding: 8px 10px 10px 10px;
    height: 355px;
}